<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Калькулятор</title>
</head>
<body>
<div class="main">
    <div class="calculator">
        <form th:action="@{/calculate-me}" method="post">
            <div class="operation">
                <p>
                    <input type="hidden" name="mode" value="1">
                    Выражение: <input id="mainStr" th:value="${answer}" name="mainStr" type="text" size="22"/>
                    <input type="button" value="(" onClick="clickBtn('(', 'false')">
                    <input type="button" value=")" onClick="clickBtn(')', 'false')">
                </p>
                <p>
                    Уравнение:
                    <input style='margin-left: 5px' type="text" name="paramA" size="4"/> x<sup>2</sup>
                    <input style='margin-left: 5px' type="text" name="paramB" size="4"/> x
                    <input style='margin-left: 5px' type="text" name="paramC" size="4"/>
                </p>
                <p>
                    Что решаем?
                    <input name="modeExp" type="radio" value="true" onclick="setMod('modeExp')"> Выражение
                    <input name="modEq" type="radio" value="false" onclick="setMod('modEq')"> Уравнение
                </p>

                <input type="button" value="Стереть" style='margin-left: 66px;' onClick="drop()">
                <input type="button" value="Сбросить" onClick="cleanSym()">
<!--                <p>Результат: <input style='margin-left: 13px' type="text" size="30" readonly disabled th:value="${answer}" /></p>-->
            </div>

            <table>
                <tr class="buttons">
                    <td><input type="button" value="1" onClick="clickBtn('1', 'false')"></td>
                    <td><input type="button" value="2" onClick="clickBtn('2', 'false')"></td>
                    <td><input type="button" value="3" onClick="clickBtn('3', 'false')"></td>
                    <td><input type="button" value="+" onClick="clickBtn('+', 'false')"></td>
                    <td><input type="button" value="MS" onClick="memorySave()"></td>
                    <td><input type="button" value="M+" onClick="memoryPlus()"></td>
                </tr>
                <tr class="buttons">
                    <td><input type="button" value="4" onClick="clickBtn('4', 'false')"></td>
                    <td><input type="button" value="5" onClick="clickBtn('5', 'false')"></td>
                    <td><input type="button" value="6" onClick="clickBtn('6', 'false')"></td>
                    <td><input type="button" value="-" onClick="clickBtn('-', 'false')"></td>
                    <td><input type="button" value="MR" onClick="memoryRead()"></td>
                    <td><input type="button" value="M-" onClick="memoryMinus()"></td>
                </tr>
                <tr class="buttons">
                    <td><input type="button" value="7" onClick="clickBtn('7', 'false')"></td>
                    <td><input type="button" value="8" onClick="clickBtn('8', 'false')"></td>
                    <td><input type="button" value="9" onClick="clickBtn('9', 'false')"></td>
                    <td><input type="button" value="x" onClick="clickBtn('*', 'false')"></td>
                    <td><input type="button" value="MC" onClick="memoryClear()"></td>
                </tr>
                <tr class="buttons">
                    <td><input type="button" value="+/-" OnClick="reverseNumber()"></td>
                    <td><input type="button" value="0" onClick="clickBtn('0', 'false'), 'false'"></td>
                    <td><input type="submit" value="="></td>
                    <td><input type="button" name="start" value="/" onClick="clickBtn('/', 'false')"></td>
                    <td><input type="button" value="mod" style="font-size: 14px" onClick="clickBtn('%', 'false')"></td>
                </tr>
            </table>

        </form>
    </div>
</div>
</body>

<script>

    var savedValue
    var curStr = ""

    let input = document.querySelector("#mainStr");

    function setMod(myMode){
        if(myMode === "modeExp") {
            document.getElementsByName('modeExp')[0].checked = true
            document.getElementsByName('modEq')[0].checked = false
            document.getElementById('mode').value = "1"
        } else {
            document.getElementsByName('modEq')[0].checked = true
            document.getElementsByName('modeExp')[0].checked = false
            document.getElementById('mode').value = '0'
        }
    }

    function memorySave() {
        savedValue = Number(document.getElementById('mainStr').value)
        console.log("Saved: " + savedValue)
    }

    function memoryRead() {
        let j = savedValue
        document.getElementById('mainStr').value = j
    }

    function memoryClear() {
        savedValue = ""
        console.log("Clear")
    }

    function memoryMinus() {
        let s = Number(document.getElementById('mainStr').value)
        let res = savedValue - s
        document.getElementById('mainStr').value = res
    }

    function memoryPlus() {
        let s = Number(document.getElementById('mainStr').value)
        let res = savedValue + s
        document.getElementById('mainStr').value = res
    }

    input.addEventListener("keyup", function (e) {
        clickBtn(e.key, 'true');
    });

    function clickBtn(param, fromKey) {
        if (param === '+') {
            if (fromKey === 'false') {
                document.getElementById('mainStr').value += '+'
            }
            curStr += ';+;'
        } else if (param === '-') {
            if (fromKey === 'false') {
                document.getElementById('mainStr').value += '-'
            }
            curStr += ';-;'
        } else if (param === '*') {
            if (fromKey === 'false') {
                document.getElementById('mainStr').value += '*'
            }
            curStr += ';*;'
        } else if (param === '/') {
            if (fromKey === 'false') {
                document.getElementById('mainStr').value += '/'
            }
            curStr += ';/;'
        } else if (param === '(') {
            if (fromKey === 'false') {
                document.getElementById('mainStr').value += '('
            }
            curStr += ';(;'
        } else if (param === ')') {
            if (fromKey === 'false') {
                document.getElementById('mainStr').value += ')'
            }
            curStr += ';);'
        }  else if (param === '%') {
            if (fromKey === 'false') {
                document.getElementById('mainStr').value += '%'
            }
            curStr += ';%;'
        } else if (param === '0' || param === '1' || param === '2' || param === '3' || param === '4' ||
            param === '5' || param === '6' || param === '7' || param === '8' || param === '9') {
            if (fromKey === 'false') {
                document.getElementById('mainStr').value += param
            }
            curStr += param
        }
        console.log(curStr)
    }

    function reverseNumber() {
        let str = document.getElementById('mainStr').value
        let v = str[str.length - 4] + str[str.length - 3] + str[str.length - 2] + str[str.length - 1]
        console.log(v)
        if (v === '(-1)') {
            str = str.slice(0, -5)
            document.getElementById('mainStr').value = str
        } else {
            document.getElementById('mainStr').value += '*(-1)'
        }
    }

    // Очищаем поле "Выражение"
    function drop() {
        document.getElementById('mainStr').value = ""
    }

    // очищает последний введённый символ
    function cleanSym() {
        let str = document.getElementById('mainStr').value
        str = str.slice(0, -1)
        document.getElementById('mainStr').value = str
    }

    // Отправляем запрос на сервер по нажатии на Enter
    window.addEventListener ("keypress", function (e) {
        if (e.keyCode !== 13) return;
        document.getElementsByName("start").click()
        alert ("enter!");
    });

    /*function reverseNumber() {
        str = curStr.split(';')
        curSym = str.length - 1

        s = str[str.length - 1]
        if(s[0] === "(") {
            ss = s.slice(1, -1);
            number = Number.parseInt(ss)
            number *= (-1)
            str.pop()
            str.push(number);
        } else {
            // если последний символ в массиве отрицательный
            if(Number.parseInt(str[str.length - 1]) < 0) {
                k = str.pop() * (-1)
                str.push(k);
            } else
            if (str[curSym - 1] !== ';') {
                str[curSym] = '(' + '-' + str[curSym] + ')'

            } else {
                console.log("Недопустимый символ")
            }
        }

        curStr = ""
        document.getElementById('mainStr').value = ""
        for (i = 0; i < str.length; i++) {
            document.getElementById('mainStr').value += str[i]
            if (str[i] === '+' || str[i] === '-' || str[i] === '*' || str[i] === '/' || str[i] === '(' || str[i] === ')') {
                curStr = curStr + ';' + str[i] + ';'
            } else {
                curStr = curStr + str[i]
            }
        }
        console.log("Array: " + curStr)

    }*/
</script>
</html>